@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", system-ui, sans-serif;
  --font-serif: "Playfair Display", serif;
  --font-heading: "Plus Jakarta Sans", sans-serif;

  --color-custom-black: #10252a;
  --color-custom-green: #00d3b3;
  --color-custom-orange: #ff6e03;
  --color-custom-yellow: #fcff00;
  --color-custom-green: #0a8a52;
  --color-custom-blue: #0391ff;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
 
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading tracking-tight;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@utility animate-marquee {
  animation: marquee 20s linear infinite;
}

@utility animate-marquee-slow {
  animation: marquee 40s linear infinite;
}
